version: "3.9"

services:
  rag-service:
    build: ./rag-service
    ports:
      - "8002:8002"
    volumes:
      - ./rag-service:/app
    env_file:
      - .env

  gateway-service:
    build: ./gateway-service
    ports:
      - "8000:8000"
    volumes:
      - ./gateway-service:/app
    depends_on:
      - rag-service
    dns:
      - 8.8.8.8
    env_file:
      - .env
