services:
  rag-service:
    build:
      context: .
      dockerfile: rag-service/dockerfile
    container_name: rag-service
    ports:
      - "8002:8002"
    env_file:
      - .env
    environment:
      DATA_DIR: "/data"
    volumes:
      # Mount entire data folder (dataset + FAISS)
      - ./data:/data
    restart: unless-stopped

  gateway-service:
    build:
      context: .
      dockerfile: gateway-service/dockerfile
    container_name: gateway-service
    ports:
      - "8000:8000"
    depends_on:
      - rag-service
    env_file:
      - .env
    environment:
      RAG_SERVICE_URL: "http://rag-service:8002/ask"
    restart: unless-stopped
    dns:
      - 8.8.8.8

volumes:
  rag_data:
